.carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}

.itemList-list {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    padding: 10px;
    /* border: 1px solid red; */
}

.itemList-list p {
    margin: 0;
    color: purple;
}

.itemList-outerlayer {
    min-width: calc(20% - 15px);
    /* padding: 10px; */
    margin-right: 20px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2), 2px 0 4px rgba(0, 0, 0, 0.2), 0 6px 4px rgba(0, 0, 0, 0.2), -2px 0 4px rgba(0, 0, 0, 0.2);
}

.itemList-outerlayer:hover {
    border: 1px solid black;
    border-radius: 10px;
    
    transform: translateY(-5px);
    transition: transform 0.3s ease; /* Add a transition for smooth animation */
}

.itemList-sale-item {
    background-color: #fff4d6;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.itemList-sale-item  p {
    font-size: 1.2vw;
    font-weight: bold;
}
