.footer {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    background-color: #fcf3f6;
    width: 100vw;
    padding: 20px 15vw;
    box-sizing: border-box;
}

.term {
    display: flex;
    flex-grow: 1; 
    justify-content: flex-end; 
}

.term p {
    margin-right: 15px;
}

/* Add more styling as needed */
